# Python
__pycache__/
*.pyc
.env
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
# Ignore all files in the data directory...
/data/*

# ... but DO NOT ignore the .dvc pointer files and the .gitignore file itself
!/data/*.dvc
!/data/.gitignore

# IDE specific
.vscode/
.idea/